<div class="margin_header">
  <h1>Log In!</h1>
</div>

<div class="container center_div">

  <%= form_for :sessions, url: login_path do |f| %>
      <p>
        <%=f.label :email %>
        <%=f.text_field :email %>
      </p>

      <p>
        <%=f.label :password %>
        <%=f.password_field :password %>
      </p>

      <p>
        <%= f.submit "Log In", class: 'button tiny radius' %>
      </p>
  <% end %>

  <br>

  <div align="left">

    <p>Don't have an account?</p>

    <%= link_to 'Sign Up', new_user_path,  class: 'btn btn-default' , method: :get %>
  </div>
</div>