
<div class="container center_div">
  <!-- <div class="form-group"> -->
    <%= form_for :expenses, url: user_expense_index_path, :html => { :class => ""} do |f| %>

      <div class="row form-group">
        <div class= "col-xs-6 col-sm-6 col-lg-12 col-xl-12">

          <div class="flex-row">
            <%= f.date_select :date, :order => [:day, :month, :year] %>
          </div>

        </div>
      </div>

      <div class="row form-group">
        <div class= "col-xs-6 col-sm-6 col-lg-12 col-xl-12">
          <div class="flex-row">
            <%= f.label :expense_type, :html => {:class => "lf--label col-form-label", :id => ""} %>
            <%= f.collection_select :expense_type, Expense.expense_types, :first, :last, {}, :class => 'form-control', :id => '' %>

          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class= "col-xs-6 col-sm-6 col-lg-12 col-xl-12">

          <div class="flex-row">
            <p>
              <%= f.label :cost, :html => {:class => "lf--label", :id => ""} %>
              <%= f.number_field :cost, :step => "0.01", :html => {:class => "lf--input form-control"} %>
            </p>
          </div>

        </div>
      </div>

      <div class="row form-group">
        <div class= "col-xs-6 col-sm-6 col-lg-12 col-xl-12">
          <div class="flex-row">
            <%= f.submit "Add Expense", class: 'button tiny radius', :html => {:class => "lf--submit"}  %>
          </div>
        </div>
      </div>

    <% end %>
  <!-- </div> -->
</div>
